<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css_js/main.css' %} ">
    {% include 'index/header.html' %}
</head>
<body>
<div id="app">
    <div id="app_inner">
        <div class="messagesBox">
            <div></div>
        </div>
        <div>
            <div></div>
            <div class="pageContainer">
                <div class="story_container">
                    <div>
                        {% block discount %}
                            <div class="gtabs gtabs-compact">
                                <ul>
                                    <li class="is_active"><a data-key="all"><span class="gtab_text">全部</span></a></li>
                                    <li><a data-key="Steam"
                                           href="{% url 'discount_steam' %}"><span class="gtab_text">Steam</span></a>
                                    </li>
                                    <li><a data-key="Nintendo Switch"
                                           href="{% url 'discount_switch' %}"><span class="gtab_text">Switch</span></a>
                                    </li>
                                    <li><a data-key="PlayStation 4"
                                           href="{% url 'discount_ps' %}"><span class="gtab_text">PS4</span></a></li>
                                    <li><a data-key="Xbox One"
                                           href="{% url 'discount_xbox' %}"><span class="gtab_text">Xbox</span></a></li>
                                </ul>
                            </div>
                        {% endblock %}
                        <div>
                            <div class="loadingPlaceholder loadingPlaceholder-wrapper loadingPlaceholder-disabled"
                                 style="background: transparent;">
                                <ul class="u_stylelessList">

                                    {% for discount in discount_all %}
                                        <li><a class="gameInfo"
                                               target="_blank"><img
                                                class="gameInfo_img gameInfo_gameImg"
                                                src="{{ discount.imageUrl }}">
                                            <div class="gameInfo_body">
                                                <div class="gameInfo_text"><p>{{ discount.name }}</p>
                                                    <p><span
                                                            class="gameInfo_tag gameInfo_tag-discount">{{ discount.dis }}</span>
                                                    </p>
                                                </div>
                                                <div class="gameInfo_append gameInfo_price gameInfo_append-withArrow"><span
                                                        class="gameInfo_arrow"><svg aria-hidden="true"
                                                                                    focusable="false"
                                                                                    data-prefix="gfas"
                                                                                    data-icon="angle-right"
                                                                                    class="svg-inline--fa"
                                                                                    role="img"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    viewBox="0 0 8 12"><path
                                                        fill="currentColor"
                                                        d="M5.22168604,6 L0.859497044,10.0506041 C0.404197905,10.4733818 0.377834128,11.1852038 0.8006119,11.640503 C1.22338967,12.0958021 1.93521165,12.1221659 2.39051079,11.6993881 L7.64050657,6.82439202 C8.11982954,6.3793064 8.11982954,5.6206936 7.64050657,5.17560798 L2.39051079,0.3006119 C1.93521165,-0.122165872 1.22338967,-0.0958020947 0.8006119,0.359497044 C0.377834128,0.814796182 0.404197905,1.52661816 0.859497044,1.94939593 L5.22168604,6 Z"></path></svg></span>
                                                    <p>{{ discount.current }}</p>
                                                    <p>{{ discount.state }}<span
                                                            class="ml-1 u_deletedText">{{ discount.original }}</span>
                                                    </p></div>
                                            </div>
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="pages" class="video-bottom">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class='page-link' href="?page=1">第一页</a>
                                </li>
                                <li class="page-item">
                                    {% if discount_all.has_previous %}
                                        <a class='page-link'
                                           href="?page={{ discount_all.previous_page_number }}">上一页</a>
                                    {% endif %}
                                </li>
                                <span class="page-link">
                    Page {{ discount_all.number }} of {{ discount_all.paginator.num_pages }}</span>
                                <li class="pagination">
                                    {% if discount_all.has_next %}
                                        <a class='page-link' href="?page={{ discount_all.next_page_number }}">下一页</a>
                                    {% endif %}
                                </li>
                                <li class="page-item">
                                    <a class='page-link' href="?page={{ discount_all.paginator.num_pages }}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="sideDrawer"></div>
</div>
</body>
</html>