<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<nav class="navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-header">
        <div class="nav-left">
            <a class="navbar-brand" href="{% url 'index' %}">首页</a>
            <a class="navbar-brand" href="{% url 'discount_all' %}">游戏</a>
            <a class="navbar-brand" href="{% url 'getnews' %}">资讯</a>
            <a class="navbar-brand" href="{% url 'getvideo' %}">视频</a>
            <a class="navbar-brand" href="{% url 'music' %}">音乐</a>
        </div>


        <a class="" tabindex="0" href="{% url 'search' %}">
            <img class="search" src="{% static 'index/img/search.png' %}"/>
        </a>
        <div class="nav-right">
            {% if request.user.is_authenticated %}
                <button class="btn btn-sm btn-dark btn-ellipse nav-btn" onmouseover="editor_over()"
                        onmouseout="normal_editor()">投稿上传
                </button>
                <a class="btn btn-sm btn-dark btn-ellipse nav-btn"
                   href="{% url 'setting' %}">{{ request.user.username }}</a>
                <a class="btn btn-sm btn-dark btn-ellipse nav-btn" href="{% url 'logout' %}">登出</a>
                <div id="editor" style="display: none" class="btn-editor">
                    <a href="{% url 'editor' %}?type=article" class="glyphicon glyphicon-leaf">文章</a>
                    <a href="#">视频</a>
                </div>
            {% else %}
                <div><a href="{% url 'login' %}">登录</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>

<style>
    .nav-right {
        position: absolute;
        right: 30px;
    }

    .nav-left {
        position: absolute;
        left: 30px;
    }

    .nav-btn {
        margin-left: 1rem;
    }

    .search {
        position: absolute;
        left: 45%;
        width: 30px;
    }

    .nav-header {
        height: 80px;
    }
</style>

<script>
    let editor = document.getElementById("editor")

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function editor_over() {

        editor.style.cssText = "position:absolute;right: 140px;top: 50px;list-style: none;" +
            "background: #ffffcc;z-index: 1;padding:10px;font-size:15px;";
    }

    async function normal_editor() {
        await sleep(2000)
        editor.style.display = "none"
    }
</script>
</html>