<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div style="padding: 100px 100px 10px;margin-left: 25%">
    <form method="POST" class="bs-example bs-example-form" role="form" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input name="title" type="text" class="form-control" placeholder="文章标题、视频标题、歌名、歌手">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='http://127.0.0.1:8000/'">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
					</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
</div>
{% if news %}
    <div style="padding: 10% 25% 0 25%;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">文章</h3>
            </div>
            <table class="table">
                <th>标题</th>
                <th>时间</th>
                {% for new in news %}
                    <tr>
                        <td><a href="{% url 'getnews' %}?article_id={{ new.article_id }}">{{ new.article_title }}</a></td>

                        <td>{{ new.article_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
{% if videos %}
    <div style="padding: 2% 25% 0 25%;">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">视频</h3>
            </div>
            <table class="table">

                <th>标题</th>
                <th>视频</th>
                <th>时间</th>
                {% for video in videos %}
                    <tr>
                        <td>{{ video.video_title }}</td>
                        <td>
                            <video width="50%" controls="controls">
                                <source src="{{ video.video_link }}" type="video/mp4"></source>
                                当前浏览器不支持 video直接播放，点击这里下载视频： <a href="{{ video.video_link }}">下载视频</a>
                            </video>
                        </td>
                        <td>{{ video.video_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
{% if musics %}
    <div style="padding: 2% 25% 0 25%;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">音乐</h3>
            </div>
            <table class="table">
                <th>歌名</th>
                <th>歌曲</th>
                <th>歌手</th>
                {% for music in musics %}
                    <tr>
                        <td>{{ music.title }}</td>
                        <td>
                            <audio controls>
                                <source src="{{ music.songUrl }}" type="audio/ogg">
                                <source src="{{ music.songUrl }}" type="audio/mpeg">
                                您的浏览器不支持 audio 元素。
                            </audio>
                        </td>
                        <td>{{ music.singer }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}

</body>
</html>