<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEWS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gnews/css/news.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gnews/css/main.css' %}"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div id="main" class="home-main">
    {% include 'index/header.html' %}
    <div class="content">
        <div class="pageHeader_inner" style="background: #dc3a3d">
            <div class="pageHeader_body">
                <div class="container"><img src="https://static.gcores.com/assets/c84b99144134071b38deb012ba9d5078.png"
                                            alt="title" class="pageHeader_img"></div>
            </div>
        </div>
        <div class="content-body">
            <div class="body-top clearfix">
                <div id="body-top-one">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- 指示符 -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- 轮播图片 -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{% url 'getnews' %}?article_id={{ special.0.article.article_id }}"
                                   style="color: black;">
                                    <img class="body-top-one-img" src="{{ special.0.article.article_cover }}">
                                    <div class="carousel-caption">
                                        <h3>{{ special.0.article.article_title }}</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="{% url 'getnews' %}?article_id={{ special.1.article.article_id }}"
                                   style="color: black;">
                                    <img class="body-top-one-img" src="{{ special.1.article.article_cover }}">
                                    <div class="carousel-caption">
                                        <h3>{{ special.1.article.article_title }}</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="{% url 'getnews' %}?article_id={{ special.2.article.article_id }}"
                                   style="color: black;">
                                    <img class="body-top-one-img" src="{{ special.2.article.article_cover }}">
                                    <div class="carousel-caption">
                                        <h3>{{ special.2.article.article_title }}</h3>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <!-- 左右切换按钮 -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>
                <div id="body-top-two">
                    <div class="" style="height: 425px">
                        <div class="hotOriginals am_card" style="height: 425px">
                            <div class="hotOriginals_inner"><h2 class="hotOriginals_header">本周最热</h2>
                                <div class="hotOriginals_body">
                                    <ul class="u_stylelessList">
                                        {% for article_hot in article_hot_list %}
                                            <li class="mb-3 pb-3 u_borderBottomGrayFrame"><a href="{% url 'getnews' %}?article_id={{ article_hot.article_id }}"><h3
                                                    class="hotOriginal_title">{{ article_hot.article_title }}</h3>
                                                <div class="hotOriginals_btm"><span class="hotOriginal_meta"><span
                                                        class="mr-2">{{article_hot.total_views}} 浏览</span>•<span class="ml-2">{{ article_hot.comment_set.count }} 评论</span></span>
                                                </div>
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-bottom clearfix">
                {% if  recommend.3 %}
                    <a href="{% url 'getnews' %}?article_id={{ recommend.0.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="display: flex;flex-direction: column;margin-left:0%;">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.0.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.0.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.0.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.0.article_date }} 浏览: {{ recommend.0.total_views }} 评论{{ recommend.0.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.1.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.1.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.1.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.1.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.1.article_date }} 浏览: {{ recommend.1.total_views }} 评论{{ recommend.1.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.2.article_id }}" style="color: black;">
                        <div class="body-bottom-item">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.2.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.2.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.2.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.2.article_date }} 浏览: {{ recommend.2.total_views }} 评论{{ recommend.2.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.3.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.3.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.3.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.3.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.3.article_date }}浏览: {{ recommend.3.total_views }} 评论{{ recommend.3.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="body-bottom clearfix">
                {% if recommend.7 %}
                    <a href="{% url 'getnews' %}?article_id={{ recommend.7.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="display: flex;flex-direction: column;margin-left:0%;">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.7.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.7.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.7.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.7.article_date }}浏览: {{ recommend.7.total_views }} 评论{{ recommend.7.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.4.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.4.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.4.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.4.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.4.article_date }}浏览: {{ recommend.4.total_views }} 评论{{ recommend.4.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.5.article_id }}" style="color: black;">
                        <div class="body-bottom-item">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.5.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.5.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.5.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.5.article_date }}浏览: {{ recommend.5.total_views }} 评论{{ recommend.5.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.6.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.6.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.6.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.6.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.6.article_date }}浏览: {{ recommend.6.total_views }} 评论{{ recommend.6.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="body-bottom clearfix">
                {% if recommend.11 %}
                    <a href="{% url 'getnews' %}?article_id={{ recommend.8.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="display: flex;flex-direction: column;margin-left:0%;">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.8.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.8.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.8.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.8.article_date }}浏览: {{ recommend.8.total_views }} 评论{{ recommend.8.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.9.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.9.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.9.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.9.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.9.article_date }}浏览: {{ recommend.9.total_views }} 评论{{ recommend.9.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.10.article_id }}" style="color: black;">
                        <div class="body-bottom-item">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.10.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.10.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.10.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.10.article_date }}浏览: {{ recommend.10.total_views }} 评论{{ recommend.10.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'getnews' %}?article_id={{ recommend.11.article_id }}" style="color: black;">
                        <div class="body-bottom-item" style="">
                            <div class="item-box-one" style="width: 100%;flex: 1;">
                                <img src="{{ recommend.11.article_cover }}"
                                     style="width: 100%;height: 186px;border-radius: 4px 4px 0% 0%;"/>
                            </div>
                            <div class="item-box-two" style="width: 100%;flex: 1;padding: 20px;box-sizing: border-box;">
                                <h5 class="title">
                                    {{ recommend.11.article_title }}
                                </h5>
                                <div class="text">
                                    {{ recommend.11.article_from }}
                                </div>
                            </div>
                            <div class="item-box-three"
                                 style="width: 100%;flex: 1;padding: 0 20px 20px 20px;box-sizing: border-box;">
                                <div class="three-two">
                                    <div class="createtime">
                                        {{ recommend.11.article_date }}浏览: {{ recommend.11.total_views }} 评论{{ recommend.11.comment_set.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div style="width: 400px; height:100px;margin: 0 auto;padding: 0 0 60px 0;box-sizing: border-box;">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class='page-link' href="?page=1">第一页</a>
                    </li>
                    <li class="page-item">
                        {% if recommend.has_previous %}
                            <a class='page-link' href="?page={{ recommend.previous_page_number }}">上一页</a>
                        {% endif %}
                    </li>
                    <span class="page-link">
                    Page {{ recommend.number }} of {{ recommend.paginator.num_pages }}</span>
                    <li class="pagination">
                        {% if recommend.has_next %}
                            <a class='page-link' href="?page={{ recommend.next_page_number }}">下一页</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        <a class='page-link' href="?page={{ recommend.paginator.num_pages }}">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>