<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gnews/css/video.css' %}"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="video-main">
    {% include 'index/header.html' %}
    <div class="video-body">
        <h5 class="title">
            视频
        </h5>
        <div class="body-content">
            <div class="content-one clearfix">
                <div class="row">
                    {% for video in videos %}
                        {% if forloop.counter < 5 %}
                            <div class="col-lg-3">
                                <div class="content-item">
                                    <video width="100%" class="video" controls="controls">
                                        <source src="{{ video.video_link }}"></source>
                                        当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
                                    </video>
                                    <div class="item-center">
                                        <a href="{% url 'getvideo' %}{{ video.id }}">
                                            <h5 class="title">
                                                {{ video.video_title }}
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="item-bottom clearfix">
                                        <div class="bottom-two clearfix">
                                            <div class="time">
                                                {{ video.video_date }} 点击量：{{ video.total_views }}
                                                评论:{{ video.comment_vidoe_set.count }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="content-one clearfix">
                <div class="row">
                    {% for video in videos %}
                        {% if forloop.counter > 4 and forloop.counter < 9 %}
                            <div class="col-lg-3">
                                <div class="content-item">
                                    <video width="100%" class="video" controls="controls">
                                        <source src="{{ video.video_link }}"></source>
                                        当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
                                    </video>
                                    <div class="item-center">
                                        <a href="{% url 'getvideo' %}{{ videos.0.id }}">
                                            <h5 class="title">
                                                {{ video.video_title }}
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="item-bottom clearfix">
                                        <div class="bottom-two clearfix">
                                            <div class="time">
                                                {{ video.video_date }} 点击量：{{ video.total_views }}
                                                评论:{{ video.comment_vidoe_set.count }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="content-one clearfix">
                <div class="row">
                    {% for video in videos %}
                        {% if forloop.counter > 8 and forloop.counter < 13 %}
                            <div class="col-lg-3">
                                <div class="content-item">
                                    <video width="100%" class="video" controls="controls">
                                        <source src="{{ video.video_link }}"></source>
                                        当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
                                    </video>
                                    <div class="item-center">
                                        <a href="{% url 'getvideo' %}{{ video.id }}">
                                            <h5 class="title">
                                                {{ video.video_title }}
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="item-bottom clearfix">
                                        <div class="bottom-two clearfix">
                                            <div class="time">
                                                {{ video.video_date }} 点击量：{{ video.total_views }}
                                                评论:{{ video.comment_vidoe_set.count }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="pages" class="video-bottom">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class='page-link' href="?page=1">第一页</a>
                </li>
                <li class="page-item">
                    {% if videos.has_previous %}
                        <a class='page-link' href="?page={{ videos.previous_page_number }}">上一页</a>
                    {% endif %}
                </li>
                <span class="page-link">
                    Page {{ videos.number }} of {{ videos.paginator.num_pages }}</span>
                <li class="pagination">
                    {% if videos.has_next %}
                        <a class='page-link' href="?page={{ videos.next_page_number }}">下一页</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    <a class='page-link' href="?page={{ videos.paginator.num_pages }}">尾页</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
