<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
    <meta name="author" content="Kodinger">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css_js/my-login.css' %}">
</head>
<body class="my-login-page">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="{% static 'users/img/logo.jpg' %}">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Forgot Password</h4>
                        <form method="post" action="{% url 're_password' %}">
                            {% csrf_token %}
                            <input type="hidden" name="code" value="{{ code }}">
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="text" class="form-control" name="username" required=""
                                       value="{{ username }}" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="password">新密码</label>
                                <input id="password" type="password" class="form-control" name="password"
                                       required="">
                            </div>
                            <div class="form-group">
                                <label for="password_again">再次输入</label>
                                <input id="password_again" type="password" class="form-control"
                                       name="password_again" required="">
                            </div>
                            <div class="form-group">
                                <label style="color: red">
                                    {{ message }}
                                </label>
                            </div>
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    确认
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    友情推广链接 <a href="http://www.baidu.com/" target="_blank"
                              title="这是一个广告">这是一个广告</a> 一个链接 <a
                        href="http://www.baidu.com/" title="百度" target="_blank">这是一个广告</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'users/css_js/jquery.min.js' %}"></script>
<script src="{% static 'users/css_js/bootstrap.min.js' %}"></script>
<script src="{% static 'users/css_js/my-login.js' %}"></script>

</body>
</html>