{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>XX游戏资讯</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <style data-emotion="css"></style>
</head>
<style>
    input[type=date]::-webkit-inner-spin-button {
        visibility: hidden;
    }
</style>
<body>
<div>
    {% include 'index/header.html' %}
    <div class="settingsPage pageContainer">
        <div class="container">
            <div class="ah_section"><h2 class="ah_title"><span>设置</span></h2>
                <div class="settingsPage_layout">
                    <div>
                        <div style="padding-bottom: 0px;"></div>
                        <div style="top: 60px; transform: translateZ(0px);">
                            {% include 'users/tab_info.html' %}
                        </div>
                    </div>
                    <div class="settingsPage_body">
                        <div class="settingsPage_box" id="nopop_profile">
                            <div class="settingsPage_box" id="nopop_profile">
                                <div class="settingsPage_box_header">修改资料</div>
                                <div class="settingsPage_box_body">
                                    <form method="POST" action="." id="info_form">
                                        {% csrf_token %}
                                        <div class="form-group row"><label
                                                class="col-form-label col-sm-2">Username</label>
                                            <div class="col-sm-10"><input name="username"
                                                                          placeholder="Username"
                                                                          class="form-control"
                                                                          disabled=""
                                                                          type="text"
                                                                          value="{{ request.user.username }}"/><input
                                                    name="user_id" type="hidden"
                                                    value="{{ request.user.id }}"/>
                                                <div class="ml-1"><small
                                                        class="form-text text-muted">长度：1至30</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"><label
                                                class="col-form-label col-sm-2">Password</label>
                                            <div class="col-sm-10"><input name="password"
                                                                          placeholder="Password"
                                                                          class="form-control"
                                                                          type="password"
                                                                          value="{{ request.user.password }}"/>
                                                <div class="ml-1"><small
                                                        class="form-text text-muted">密码是加密的！修改后会自动加密！</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"><label
                                                class="col-form-label col-sm-2">Email</label>
                                            <div class="col-sm-10"><input name="email" placeholder="email"
                                                                          class="form-control" disabled=""
                                                                          type="text"
                                                                          value="{{ request.user.email }}">
                                                <div class="ml-1"><small
                                                        class="form-text text-muted">(修改Email暂未开放)</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"><label
                                                class="col-form-label col-sm-2">操作：</label>
                                            <div class="col-sm-10">
                                                <button class="btn btn-assist btn-ellipse" type="submit"
                                                        style="background: #6ddc67;">确认修改信息
                                                </button>
                                                <a href="{% url 'logout' %}">
                                                    <button class="btn btn-assist btn-ellipse" type="button"
                                                            style="background: #dc556a;">登出
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="settingsPage_box" id="nopop_account">
                                    <div class="settingsPage_box_header">爬虫管理</div>
                                    <div class="settingsPage_box_body">
                                        <form method="GET" action="{% url 'spider' %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label
                                                        class="col-form-label col-sm-2">爬取目标</label>
                                                <Select name="target" style="margin-right: 20px;">
                                                    <option value="gcore">机核文章</option>
                                                    <option value="gamesky">游民星空文章</option>
                                                    <option value="youxun">游讯网文章</option>
                                                    <option value="lol">英雄联盟视频</option>
                                                    <option value="cf">穿越火线视频</option>
                                                    <option value="hpjy">和平精英视频</option>
                                                    <option value="discount">游戏折扣排行</option>
                                                    <option value="spider_all">全部</option>
                                                </Select>
                                                <input name="spider_date" class="mr-3" type="date"
                                                       max="{{ today }}"
                                                       value="{{ today }}" min="2020-05-01"/>
                                                <button class="btn btn-assist btn-ellipse" type="submit">开始爬取
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"></footer>
            <div class="globalActions"></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'layer/layer.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#info_form').submit(function () {
            $.ajax({
                type: "POST",
                data: $('#info_form').serialize(),
                url: "{% url 'setting' %}",
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data['code'] === 200) {
                        layer.open({
                            type: 1
                            , offset: 'auto' //具体配置参考：offset参数项
                            , content: '<div style="padding: 20px 80px;">修改成功,请重新登录！</div>'
                            , btn: '好的'
                            , btnAlign: 'c' //按钮居中
                            , shade: 0 //不显示遮罩
                            , yes: function () {
                                window.location.reload();
                            }
                        });
                    }
                    ;
                    if (data.code === 404) {
                        layer.alert('你没有权限修改此用户的信息')
                    }


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("修改失败，" + errorThrown);
                }
            });
            return false;
        });
    });
</script>