<ul class="">
    <li class="is_active"><a
            href="{% url 'setting' %}"><span
            class="d-inline-block text-center mr-3" style="width: 20px;"></span>编辑个人资料</a>
    </li>
    <li class=""><a href="{% url 'orginal_editor' %}">
        上传文章</a>
    </li>
    <li class=""><a href="{% url 'upload_video' %}"><span
            class="d-inline-block text-center mr-3" style="width: 20px;"></span>上传视频</a>
    </li>
    {% if request.user.is_superuser %}
        <li class=""><a href="{% url 'upload_music' %}"><span
                class="d-inline-block text-center mr-3" style="width: 20px;"></span>上传音乐</a>
        </li>
    {% endif %}
    <li class=""><a
            href="{% url 'my_vote' %}?user_id={{ request.user.id }}"><span
            class="d-inline-block text-center mr-3" style="width: 20px;font-size: 25px">★</span>我的内容</a>
    </li>
</ul>